.cards__container {
    width: 100%;
    height: 100%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 20px;
    padding: 10px;
}

@media screen and (max-width: 660px) {
    .cards {
        place-items: center;
        padding: 10px 0;
    }
}

/* Estilos para edição */
.edit-card {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ccc;
}

.edit-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.edit-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.save-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #FF6347;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.update-graphs-btn {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    font-size: 16px;
}

.update-graphs-btn:hover {
    background-color: #0056b3;
}
