.button {
    width: 100%;
    height: auto;
    border: none;
    border-radius: .5rem;
    background-color: var(--primaryColor);
    color: var(--textColor);
    font-size: 1.4rem;
    cursor: pointer;
    padding: .6rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s linear;

    &:hover {
        background-color: var(--primaryColor);
    }
}

.blue {
    background-color: var(--blue);
}

.green {
    background-color: var(--green);
}