.card__container {
    width: 430px;
    height: fit-content;
    border-radius: 20px;
    color: #2F2E41;
    border: 1px solid #2F2E41;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: capitalize;
    /* justify-content: space-between; */
    /* padding: 0 10px; */

    & .card__title {
        width: 100%;
        border-radius: 19px 19px 0 0;
        background-color: #0073E6;
        padding: 10px;
        font-size: 18px;
    }

    & .info__group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 10px;
        width: 100%;
        justify-content: space-between;

        & .first__div {
            display: flex;
            gap: 10px;
        }

    }

    & .card__buttons {
        display: flex;
        gap: 10px;
        padding: 10px;
        justify-content: flex-end;
        
        & button {
            cursor: pointer;
            border: none;
            display: flex;
            gap: 5px;
            align-items: center;

            & svg {
                font-size: 14px;
            }
        }

        & button:nth-child(2) {
            color: #C00F0C;
        }
    }
}