* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

:root {
  font-size: 62.5%;
  --navHeight: 6rem;
  --primaryColor: #2C2C2C;
  --secondaryColor: #4B4B4B;
  --textColor: #E6E6E6;
  --blue: #007AFF;
  --green: #14AE5C;
  --yellow: #E6B800;
}

html,
body,
#root {
  background-color: var(--primaryColor);
  height: 100vh;
  overflow: hidden;
  font-size: 1.6rem;
}

input::-webkit-inner-spin-button {
  appearance: none;
}