@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

#root,
body,
html {
  height: 100%;
  /* overflow: hidden; */
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.min-height {
  display: flex;
  background-color: white;
  align-items: flex-start;
  flex-direction: column;
  min-height: 80%;
}

#navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #579c5c;
  padding: 0.75rem;
}

#icone {
  margin-right: 55rem;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding: 0.5rem;
  font-size: 28px;
}

.link:hover {
  transition: 0.2s;
  color: white;
}

#homePag {
  display: flex;
  height: 100%;
  background-color: white;
  overflow: hidden;
}


#div-esq {
  background-image: url("/imagemFundo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40vw;
  height: 100vh;
}

#div-form {
    display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

.formulario {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(76, 175, 80, 0.1);
}

.formulario h2 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.formulario button {
  width: 100%;
  background: #81c784;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}


.formulario button:hover {
  background: #4caf50;
  transform: translateY(-2px);
}


.form-group {
  margin-bottom: 1rem;
  padding: 5px;
}

.form-group label {
  font-weight: bold;
  display: flex;
  margin-bottom: 10px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.90rem;
  border: 2px solid #c8e6c9;
  border-radius: 8px;
  font-size: 0.9rem;
  transition: all 0.3s;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: #81c784;
  box-shadow: 0 0 0 3px rgba(129, 199, 132, 0.2);
}

#pagPrincipal{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  border-style: solid;
  border-color: red;
}

.footer {
  background-color: #20ff8c;
  color: black;
  text-align: center;
  padding: 15px;
  position: relative;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-links a {
  color:black;
  text-decoration: none;
}

.footer-links a:hover {
  transition: 0.2s;
  color: #5ec57e;
}
