@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

:root {
  font-size: 62.5%;
  --primaryColor: #2C2C2C;
  --secondaryColor: #4B4B4B;
  --textColor: #E6E6E6;
  --blue: #007AFF;
  --green: #14AE5C;
}

html,
body,
#root {
    background-color: #EFEFEF;
    height: 100vh;
    overflow: hidden;
    font-size: 1.6rem;
}
